// IMPORTANT: import core variables on the top of this file
@import '../../stylesheets/__variables.styl'


// Rewrite the core variables to customize your theme
xpressio_colors = false
xpressio_flex = false
xpressio_grid = false
xpressio_menu = false
xpressio_modals = false

base_unit = 1rem

heading_margin = 0 0 6px 0

font_base = 'Merriweather'
font_base_color = rgb(77, 77, 77)

blockquote_font_family = 'Raleway'
blockquote_border_color = #E8E8E8

heading_font_family = 'Raleway'
heading_font_weight = 700
heading_bottom = base_unit / 1.5

site_width = 800px

a_hover_text_decoration = underline

margin = base_unit * 2
padding = base_unit * 2

paragraph_font_size = base_unit * 1.1
paragraph_line_height = base_unit * 1.9
paragraph_bottom = base_unit * 2

border_size = base_unit * 0.1

// IMPORTANT: import xpressio core on the bottom of this file
@import '../../stylesheets/xpressio.styl'