// IMPORTANT: import core variables on the top of this file
@import '../../stylesheets/__variables.styl'


// Rewrite the core variables to customize your theme
xpressio_colors = false
xpressio_flex = false
xpressio_grid = false
xpressio_menu = false
xpressio_modals = false

base_unit = 1rem

heading_margin = 0 0 6px 0

font_base = 'Droid Serif'
font_base_color = rgb(77, 77, 77)
font_base_smoothing = antialiased

heading_font_family = 'Raleway'
heading_font_weight = 800
heading_bottom = base_unit / 3

site_width = 750px

paragraph_font_size = base_unit * 1.1
paragraph_line_height = base_unit * 1.75
paragraph_bottom = base_unit * 2

border_size = base_unit * 0.1

// IMPORTANT: import xpressio core on the bottom of this file
@import '../../stylesheets/xpressio.styl'