header
  h1
    font-weight 700
    margin-bottom 0
  p
    font-size base_unit

article h1
  font-size base_unit * 3.4

img
  display block
  margin 0 auto

pre
  padding 1.5rem !important

pre, code
  background rgb(240, 240, 240) !important

cite
  font-weight 600

.blog-logo-extra-border
  border 3px solid rgba(0,0,0,0.1)

.blog-logo
  max-width 120px

.blog-title
  font-size 2rem
  font-family 'Raleway'
  font-weight 700
  margin-bottom 0

.blog-description
  font-size base_unit
  max-width 480px
  margin 0 auto

.blog-info
  font-family 'Raleway'
  .author
  .title
    position absolute
    top 8px
  .author
    color white
    margin 0
    left 26px
    a
      font-weight 100
    img
      border 0
      margin-right 10px
      width 30px
  .title
    right 26px

.cover
  background-size cover
  background-position center

.cover-mask
  background rgba(0, 0, 0, 0.3)
  color white
  img
    border 3px solid rgba(255, 255, 255, 0.7)

.no-cover img
  border 2px solid rgba(255, 255, 255, 0.6)

.post-header
.post-cover
  margin-bottom paragraph_bottom
  line-height 1.4em
  time
    font-family 'Raleway'
    color rgb(150, 150, 150)

.post-cover
  margin-bottom 0
  padding-top 250px
  h1
    font-size 3.4rem
  time
    background rgba(0, 0, 0, 0.5)
    color #D3D3D3

.post
  img
    display block
    margin 0 auto

.entry
  a
    color #269ACD
    text-decoration underline
  a:hover
    color #0B7DAE
    text-decoration underline

.excerpt
  h4
    margin-bottom 6px

.author
  color #969696
  font-family 'Raleway'
  font-weight 300
  min-height 40px
  margin-top 10px
  a
    font-weight bold
  img
    max-width 40px
  time
    display block
  .author-thumb
    margin-right 6px

.author-post
  font-family 'Raleway'
  font-weight 300
  min-height 70px
  img
    max-width 70px
  a
    font-weight bold
  .author-thumb
    margin-right 12px

.author-meta
  p
    margin-bottom 0

.text
  .raleway
    font-family 'Raleway'

.pagination
  @extend .text.center
  @extend .padding

.site-footer
  background rgb(248, 248, 248)
  font-family 'Raleway'
  font-weight 300

.video-container
  position relative
  padding-bottom: 56.25%;
  iframe
    position absolute
    width 100%
    height 100%

@media handheld, only screen and (max-width: 773px)
  .inline
    display inline-block

@media handheld, only screen and (max-width: 480px)
  html
    font-size 14px

  .author-thumb
    display none

  .blog-logo
    max-width 80px

  .main-header
    h1
      font-size 1.8em

  article
  .post-cover
    h1
      font-size 2em
    h3
      font-size 1.6em