// IMPORTANT: import core variables on the top of this file
@import '../../stylesheets/__variables.styl'


// Rewrite the core variables to customize your theme
font_base_size = 16px

mysauce1 = #ABCDCF
mysauce2 = #345065
mysauce3 = #233645
mysauce4 = #F5FAFF


// IMPORTANT: import xpressio core on the bottom of this file
@import '../../stylesheets/xpressio.styl'