// IMPORTANT: import core variables on the top of this file
@import '../../stylesheets/__variables.styl'


// Rewrite the core variables to customize your theme
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700)

font_base = 'Lato'
font_base_size = 16px
font_base_color = rgb(66, 66, 66)

a_hover_color = #77BAF5

heading_bottom = base_unit * 0.2

theme_main = #3C9ABD
theme_background = #FAFAFA
theme_title = #2C3F52
theme_subtitle = #3D546B
theme_secondary = #F1F1F1
theme_alternative = #293443


// IMPORTANT: import xpressio core on the bottom of this file
@import '../../stylesheets/xpressio.styl'