.alignright
  float right

.alignleft
  float left

.inline
  display inline-block

.margin_auto
  margin auto auto

.p_absolute
  position absolute

.p_relative
  position relative

.p_fixed
  position fixed

.middle
  vertical-align middle

.align
  &.vertical
    position relative
    top 50%
    transform(translateY(-50%))