ul, ol
  font-size paragraph_font_size
  line-height paragraph_line_height
  margin-left base_unit * 1.5
  margin-bottom paragraph_bottom
  ul, ol
    font-size paragraph_font_size rem
    margin-left base_unit * 2
    margin-bottom 0
  li
  ul:last-child, ol:last-child
    margin-left base_unit * 2
  &.square, &.square ul
    list-style square
  &.circle, &.circle ul
    list-style circle