.border
  border-color rgba(0,0,0,0.1)
  &.radius
    border-radius(border_radius_size)
  &.circle
    border-radius(50%)
  &.top
    border-top-width border_size
  &.right
    border-right-width border_size
  &.bottom
    border-bottom-width border_size
  &.left
    border-left-width border_size
  &.all
    border-width border_size
  &.dotted
    border-style dotted
  &.dashed
    border-style dashed
  &.solid
    border-style solid