ul, ol
  font-size base_unit
  line-height paragraph_line_height
  margin-left base_unit
  ul, ol
    font-size base_unit rem
    margin-left base_unit * 2
  li
    margin-bottom paragraph_bottom
  ul:last-child, ol:last-child
    margin-top 25px
    margin-left base_unit * 2
  &.square, &.square ul
    list-style square
  &.circle, &.circle ul
    list-style circle