img
  margin img_margin
  &.big
    width 90%
  &.medium
    width 70%
  &.small
    width 30%

.fluid
  width 100%

.site_width
  margin 0 auto
  max-width site_width

.scroll
  overflow auto
  min-height 0

.active
  vendor('box-shadow', inset 0px -2px theme_main)

.o_hidden
  overflow hidden