_gridsystemWidth = (column_width + gutter_width) * columns

clearfix()
  *zoom:1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

column(x, columns = columns)
  width total_width * ((((gutter_width + column_width ) * x) - gutter_width) / _gridsystemWidth)

offset(offset = 1)

.row
  width 100%
  clearfix()
  > [class^='col']
    display inline
    float left
    margin 0 total_width * ((gutter_width * 0.5) / _gridsystemWidth)
  if numbers_columns
    for row in numbers_columns
      .col{row}
        column(row)