img.center
  display block
  margin 0 auto

.alignright
  float right

.alignleft
  float left

.inline
  display inline-block

.margin_auto
  margin auto auto

.absolute
  position absolute

.relative
  position relative

.fixed
  position fixed

.middle
  vertical-align middle

.align
  &.vertical
    position absolute
    top 50%
    transform(translateY(-50%))