.text.color
  if include_basic_colors
    &.black
      color black
    &.blue
      color blue
    &.green
      color green
    &.orange
      color orange
    &.pink
      color pink
    &.red
      color red
    &.yellow
      color yellow
    &.violet
      color violet
    &.white
      color white
  if include_mycolors
    &.theme.main
      color theme_main
    &.theme.background
      color theme_background
    &.theme.title
      color theme_title
    &.theme.subtitle
      color theme_subtitle
    &.theme.secondary
      color theme_secondary
    &.theme.alternative
      color theme_alternative

.bck
  if include_basic_colors
    &.black
      background black
    &.blue
      background blue
    &.green
      background green
    &.orange
      background orange
    &.pink
      background pink
    &.red
      background red
    &.yellow
      background yellow
    &.violet
      background violet
    &.white
      background white
  if include_opacity_backgrounds
    &.opacity_dark
      background opacity_dark
    &.opacity_light
      background opacity_light
  if include_mycolors
    &.theme.main
      background theme_main
    &.theme.background
      background theme_background
    &.theme.title
      background theme_title
    &.theme.subtitle
      background theme_subtitle
    &.theme.secondary
      background theme_secondary
    &.theme.alternative
      background theme_alternative