.text.color
  if include_basic_colors
    &.c_black
      color black
    &.c_blue
      color blue
    &.c_green
      color green
    &.c_orange
      color orange
    &.c_pink
      color pink
    &.c_red
      color red
    &.c_yellow
      color yellow
    &.c_violet
      color violet
    &.c_white
      color white
  if include_mycolors
    &.c_mysauce1
      color mysauce1
    &.c_mysauce2
      color mysauce2
    &.c_mysauce3
      color mysauce3
    &.c_mysauce4
      color mysauce4

.bck
  if include_basic_colors
    &.b_black
      background black
    &.b_blue
      background blue
    &.b_green
      background green
    &.b_orange
      background orange
    &.b_pink
      background pink
    &.b_red
      background red
    &.b_yellow
      background yellow
    &.b_violet
      background violet
    &.b_white
      background white
  if include_opacity_backgrounds
    &.b_opacity_dark
      background opacity_dark
    &.b_opacity_light
      background opacity_light
  if include_mycolors
    &.b_mysauce1
      background mysauce1
    &.b_mysauce2
      background mysauce2
    &.b_mysauce3
      background mysauce3
    &.b_mysauce4
      background mysauce4
    &.b_mysauce5
      background mysauce5