.flex_container
	display -webkit-flex
	display flex
	&.justify_content_start
		flex-justify-content(flex-start)
	&.justify_content_center
		flex-justify-content(center)
	&.justify_content_end
		flex-justify-content(flex-end)
	&.align_items_start
		flex-align-items(flex-start)
	&.align_items_center
		flex-align-items(center)
	&.align_items_end
		flex-align-items(flex-end)
	&.align_items_stretch
		flex-align-items(stretch)

.align_self_start
	flex-align-self(flex-start)
.align_self_center
	flex-align-self(center)
.align_self_end
	flex-align-self(flex-end)
.align_self_stretch
	flex-align-self(stretch)