.flex_container
	display -webkit-flex
	display flex


.column
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;

.flex1
	flex(1)

.flex2
	flex(2)

.flex3
	flex(3)

.flex_align_self_start
	flex-align-self(flex-start)

.flex_align_self_end
	flex-align-self(flex-end)

.flex_align_self_center
	flex-align-self(center)

.flex_align_self_baseline
	flex-align-self(baseline)

.flex_align_content_start
	flex-align-content(flex-start)

.flex_align_content_end
	flex-align-content(flex-end)

.flex_align_content_center
	flex-align-content(center)


.flex_align_items_end
	flex-align-items(flex-end)

.flex_align_items_center
	flex-align-items(center)


.flex_justify_content_end
	flex-align-items(flex-end)

.flex_justify_content_center
	flex-align-items(center)

.flex_wrap
	flex-wrap(wrap)