img
	&.big
		width 90%
	&.center
		display block
		margin 0 auto
	&.left
		float left
	&.medium
		width 70%
	&.right
		float right
	&.small
		width 30%

.anchor
	width 100%

.b_shadow_small
	box-shadow shadow_small rgba(0,0,0,0.5)

.b_shadow_medium
	box-shadow shadow_medium rgba(0,0,0,0.5)

.b_shadow_big
	box-shadow shadow_big rgba(0,0,0,0.5)

.border
	border border_density border_style rgba(0,0,0,0.2)

.border_bottom
	border-bottom border_density border_style rgba(0,0,0,0.2)

.border_left
	border-left border_density border_style rgba(0,0,0,0.2)

.border_right
	border-right border_density border_style rgba(0,0,0,0.2)

.border_top
	border-top border_density border_style rgba(0,0,0,0.2)

.border_radius_small
	border-radius(border_radius_small)

.border_radius_big
	border-radius(border_radius_big)

.border_radius_circle
	border-radius(50%)

.desktop
	display inherit !important

.show_display
	display inherit

.hide_display
	display none

.inline
	display inline-block

.margin_bottom_small
	margin-bottom margin_bottom_small

.margin_bottom_big
	margin-bottom margin_bottom_big

.margin_top_small
	margin-top margin_top_small

.margin_top_big
	margin-top margin_top_big

.margin_small
	margin margin_small

.margin_big
	margin margin_big

.mobile
	display none !important

.logo
	font-size logo_font_size

.padding_bottom_big
	padding-bottom padding_bottom_big

.padding_bottom_small
	padding-bottom padding_bottom_small

.padding_top_big
	padding-top padding_top_big

.padding_top_small
	padding-top padding_top_small

.padding_big
	padding padding_big

.padding_small
	padding padding_small

.site_width
	margin 0 auto
	max-width site_width

.tablet
	display none !important

.t_shadow_small
	text-shadow shadow_small rgba(0,0,0,0.5)

.t_shadow_medium
	text-shadow shadow_medium rgba(0,0,0,0.5)

.t_shadow_big
	text-shadow shadow_big rgba(0,0,0,0.5)