.tooltip
  position relative

.tooltip:hover span
  opacity 0.9

.tooltip span
  background stimulation_dark
  border-radius(4px)
  color white
  left 10%
  right 10%
  top -45px
  opacity 0
  padding 10px
  position absolute
  transition(all 0.3s ease-in-out)

.tooltip span:before,
.tooltip span:after
  content ''
  position absolute
  bottom -10px
  left 50%
  margin-left -9px
  width 0
  height 0
  border-left 20px solid transparent
  border-right 20px solid transparent
  border-top 20px solid stimulation_dark